---
subject: Your Order is on it's way
---

<container>
  <!-- intro -->
  {{>navigation}}
  <row>
    <columns large="12">
      <h1 class="headline">Thank you for your order</h1>
      <p>(Your closet thanks you too)</p>
      <p class="text-left hello_copy">Hi, Clay! We've received your order and will get started on it right away you can expect to receive a shipping confirmation email soon.</p>
    </columns>
  </row>

  <!-- order number -->
  <row>
    <columns large="12">
      <spacer class="order_details--spacer" size="16"></spacer>
    </columns>
  </row>
  <row class="order_details">
    <columns large="6">
      <p>Order Number <b>1098833374628</b></p>
      <p>Placed on September 30, 2016 at 8:25:55pm</p>
    </columns>
    <columns class="down-10" large="6">
      <button class="small" href="#">Order Details</button>
    </columns>
  </row>

  

  <row>
    <columns large="12">
      <spacer class="billing_address--spacer" size="16"></spacer>
    </columns>
  </row>
  <!-- billing info -->
  <row class="addresses">
    <columns large="6">
      <p><b>Billing Address</b></p>
      <p>Clay Reinken</p>
      <p>220 N 10th st </p>
      <p>Brooklyn, ny 11211-6988</p>
      <p>United States</p>
      <p><a href="tel:18003334433">33222442</a></p>
      <p><a href="mailto:clay@jcrew.com">clayrainken@gmaill.com</a></p>
    </columns>
    
    <columns class="down-10" large="6">
      <p><b>Payment Method</b></p>
      <p class="payment_method--card"><img width="40" height="23" src="http://s7d9.scene7.com/is/image/jcrew/cc-discover_responsive_email" />  **** **** **** 4567</p>
      <p>Clay Reinken </p>
      <p>$816.96</p>
    </columns>
  </row>


  <!-- shipping info -->
  {{>shipping_spacer}}
  <row>
    <row class="shipping-summary__headline">
      <columns large="12">
        <h4>Shipping Summary (2 items)</h4>
      </columns>
    </row>

    <row>
      <columns large="12">
        <spacer class="shipping_address--spacer" size="2"></spacer>
      </columns>
    </row>
    <row class="addresses">
      <columns large="6">
        <p><b>Shipping address</b></p>
        <p>Clay Reinken </p>
        <p>220 N 10th ST </p>
        <p>Brooklyn, NY 11211-6988 </p>
        <p>United States</p>
	<p><a href="tel:18003334433">33222442</a></p>
	<p><a href="mailto:clay@jcrew.com">clayrainken@gmaill.com</a></p>
      </columns>
      <columns class="down-10" large="6">
        <p><b>Shipping Method</b></p>
        <p>Economy</p>
        <p>Delivered on or before monady, 1 1887</p>
      </columns>
    </row>

    <row>
      <columns large="12">
        <spacer size="40"></spacer>
      </columns>
    </row>
    <row class="shipping_item">
      <columns small="6" large="3">
        <img src="http://s7d9.scene7.com/is/image/jcrew/shoe_for_email_test">
      </columns> 
      <columns small="6" large="9">
        <p class="item_title">Collection Italian cashmere turtleneck</p>
        <p>Item: F7949</p>
        <p>Color: Slate multi</p>
        <p>Size: small</p>
        <p>Qty: 1</p>
        <p><b>$555.00</b></p>
      </columns> 
    </row>

    <row>
      <columns large="12">
        <spacer size="16"></spacer>
      </columns>
    </row>
    <row class="shipping_item">
      <columns small="6" large="3">
        <img src="http://s7d9.scene7.com/is/image/jcrew/shoe_for_email_test">
      </columns> 
      <columns small="6" large="9">
        <p class="item_title">Collection Italian cashmere turtleneck</p>
        <p>Item: F7949</p>
        <p>Color: Slate multi</p>
        <p>Size: small</p>
        <p>Qty: 1</p>
        <p><b>$555.00</b></p>
      </columns> 
    </row>

    <row>
      <columns large="12">
        <spacer class="order_copy--spacer" size="16"></spacer>
      </columns>
    </row>
    <row>
      <columns large="6">
        <p>Orders with two or more items may arrive in seperate boxes with no additional shipping charges</p>
        <p>You can view the entire status of your order by clicking My Account at <a href="jcrew.com">jcrew.com</a></p>
      </columns>

      <columns class="down-10" large="6">
        <row>
          <columns small="10" large="10">
            <p><span>Merchandise Total</span></p>
            <p><span>Gifts</span></p>
            <p><span>Tax</span></p>
            <p><span>gift cart</span> </p>
            <p><span>Merchandise Total</span></p>
          </columns>
          <columns small="2" large="2">
            <p class="text-right">$55.55</p>
            <p class="text-right">$55.55</p>
            <p class="text-right">$55.55</p>
            <p class="text-right">$55.55</p>
            <p class="text-right">$55.55</p>
          </columns>
        </row>
      </columns>
    </row>

    <row>
      <columns large="12">
        <spacer class="order_copy--spacer" size="16"></spacer>
      </columns>
    </row>
    <row>
      <columns large="12">
        <p>If you have any questions about your order, please do not hesitate to reach out. You will receive an email confirmation once your order has shipped</p>
        <p>Thank you,</p>
        <img src="http://s7d9.scene7.com/is/image/jcrew/logo">
      </columns>
    </row>

    <row>
      <columns large="12">
        <spacer size="16"></spacer>
      </columns>
    </row>
    <row>
      <columns class="customer_service" large="6">
        <h5>Customer Service</h5>
        <p><u>jcrew help desk</u></p>
        <p><a href="mailto:contactus@jcrew.com"><u>contactus@jcrew.com</u></a></p>
        <p><a href="tel:18005620258"><u>1 (800) 562 0258</u></a></p>
        
	<p class="down-20 large_down-20">International inquiries</p>
	<p>(outside of Canada & Japan)</p>
        <p><a href="mailto:julie@jcrew.com"><u>julie@jcrew.com</u></a></p>
        <p><a href="tel:14343855775"><u>1 (434) 385 5775</u></a></p>
      </columns>
      <columns class="mobile_spacer down-10" large="6">
        <h5>Find your J.Crew store</h5>
        <button class="small" href="#">Store Locator</button>
	<p>Did you know that you can now ship to your local J.Crew store for
	    in store pickup? And the best part - it's FREE!<p>
	<p><a href="">Find out more at jcrew.com</a></p>
	  
      </columns>
    </row>

    {{>credit_card}}
    {{>follow_jcrew}}
  </row>
</container>
