a, a:visited, a:active{
  color: #000;
  text-decoration: underline;
}
.spacer {
  border-bottom: 1px solid #ccc;
  margin-bottom: 16px;
}

.order_details--spacer {
  margin-top: -5px;
}

.billing_address--spacer {
  margin-bottom: 45px;
}

.nav_spacer_bottom {
    margin-bottom: 30px;
}

.order_details {
  margin-top: 14px;
  p {
    font-size: 13px;
    line-height: 12px;
  }
}

/* headline  */
.headline {
  margin-bottom: 4px;
  font-family: 'Times New Roman', serif;
}

.hello_copy {
  font-family: 'Times New Roman', serif;
  font-size: 18px;
  padding-top:10px;
  letter-spacing: 0.02em;
}

td.columns, td.column, th.columns, th.column {
  padding-bottom: 0
}

th.main_body {
  /* padding: 20px */
}


.shipping_spacer.spacer {
  border: medium none !important;
}

.shipping_address--spacer {
  margin-bottom:25px;

}

.shipping-summary__headline {
  h4 {
    font-size: 13px;
    font-family: Soleil-Bold, Helvetica, Arial, sans-serif;
    margin-bottom:0;
  }
}

.shipping_item {
  p.item_title {
    line-height: 13px;
  }
  p {
    line-height: 9px;
  }
  img {
    width: 139px;
    height: 139px;
  }

}

.order_copy--spacer {
  margin-bottom: 30px;
}

table.credit-card__button.small {
  background: #00264f !important;
  letter-spacing: 0.09em;
  table td {
    border-color: #00264f !important;
    background: #00264f !important;
  }
}

th.credit-card {
  padding-left: 0 !important;
}

.cash-back {
  padding-left: 8px;
}

.creditcard--fineprint {
  padding-top: 10px;
}

.customer_service {
  p {
    line-height:8px;
  }
  a {
    line-height: 8px;

  }

}

.large_down-20 {
  margin-top: 26px !important;
}

h1.follow-jcrew {
  padding-top:7px;
  padding-bottom:20px;
}

.follow_jcrew {
    width: 63%;
}

.end-of-email {
  padding-bottom:50px;

  a {
    color: #000;
    text-decoration: underline;
  }
}


.addresses th {
  p {
    line-height: 9px;
  }
  font-size: 13px;
  color: #333;
  
  font-family: Soleil-Bold, Helvetica, Arial, sans-serif;
  line-height: 16px;
}

table.body {
  background: #fff !important;
}

h1, h2, h3, h5 {
  font-family: freight-big-pro, Times, serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.05em;
}

h4 {
  font-weight: bold;
  font-family: Soleil, Helvetica, Arial, sans-serif;
}

body, p, table, th, td {
  font-size: 13px;
  font-family: Soleil, Helvetica, Arial, sans-serif;
  
}

.youmaylike__spacer--top {
  border-bottom: 3px solid #000;
}
.youmaylike__spacer--bottom {
  border-bottom: 3px solid #000;
  margin-bottom: 28px;
}

table.button{
  table a {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.09em;
  }
  table td {
    font-size: 13px;
    background: #000;
    border-color: #000;
  }
}

table.button.large table a {
  font-size: 13px;
}

.dy_link {
  text-decoration: underline;
  color: #000;

}

.field {
  background: #fff;
  padding-right: 5px;
}
.dot_leader {
  th p {
    background: url('../assets/img/dot.png') repeat-x bottom;
  }
}

.navigation th.columns {
  padding-bottom: 0;

  p {
    text-transform: uppercase;
    color: #ccc;

  }
}

.end-of-email--spacer {
  margin-top: 30px;
   
}

.payment_method--card {

  img {
    display: inline;
    width: 40px !important;
    height: 23px !important;
  }
}

@import 'navigation';

