@media screen and (max-width: 596px) {
  .mobile_spacer {
    border-top: 1px solid #ccc;
    padding-top: 30px !important;

  }
  .down-10 {
    margin-top: 12px !important;
  }

  .down-20 {
    margin-top: 26px !important;
  }

  h1.follow-jcrew {
    padding-top:20px;
    padding-bottom:20px;
  }

  .follow_jcrew {
    width: 96%;
  }
  
  .shipping_item {
    img {
      width: auto !important;
      height: auto !important;
    }
  }
}
