.navigation {
  p.nav-item {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  a {
    color: #ccc;
    text-decoration: none;
    /* font-size: 18px; */
  }

}

.nav_spacer {
  margin-bottom: 10px !important;
}

.logo_spacer {
  border: medium none;
  margin-bottom: 10px;
}
