<row>
  <columns large="12">
    <spacer class="order_copy--spacer" size="16"></spacer>
  </columns>
</row>

<row>
  <columns large="6">
    <h5>The J.Crew Credit Card</h5>
    <row>
      <columns small="2" large="2">
        <img src="http://s7d9.scene7.com/is/image/jcrew/jcrewcc">
      </columns>
      <columns small="10" large="10">
        <p class="cash-back">earn $25 for every $500 <br />you spend*</p>
      </columns>
    </row>
    <row>
      <columns large="12">
        <p class="creditcard--fineprint" >apply today & get 15% off*</p>
        <button class="credit-card__button small" href="#">apply now</button>
      </columns>
    </row>
  </columns>
  <columns class="mobile_spacer down-20" large="6">
    <h5>Get on the List</h5>
    <p>what's inside. new arrivals. exclusive sales, event invites, & more!</p>
    <button class="small" href="#">Sign up for emails</button>
    <p class="creditcard--fineprint" >To see how we may use your infromation, take a look at our <a href="#">privacy policy</a></p>
  </columns>
</row>
