<spacer class="youmaylike__spacer--top" size="16"></spacer>
<row>
  <columns large="12">
    <h1>You may also like...</h1>
</row>
<row>
  {{#repeat 4}}
  <columns large="3">
    <img src="../assets/img/shoe.jpg" />
    <p>Lady jacket with liberty trim</p>
    <a class="dy_link" href="#">shop blazers</a>
  </columns>
  {{/repeat}}
  </columns>
</row>
