<row>
  <columns large="12">
    <spacer class="order_copy--spacer" size="16"></spacer>
  </columns>
</row>
    <h1 class="follow-jcrew text-center">Follow J.Crew</h1>

              <!-- Social media icons -->
	      <table class="follow_jcrew" align="center">
                    <tbody><tr>

                      <td width="20" height="20"><a href="$clickthrough(facebook)$" target="_blank"><img src="https://images.jcrew.com/fsi/emails/2016/08/JC_social1.jpg" alt="Facebook" width="19" height="20" border="0" style="display:block;"></a></td>

                      <td width="10" class="socialMargin"><img style="display:block;" src="http://images.jcrew.com/fsi/emails/2015/10/spacer.gif" width="10" height="1" class="socialMargin" border="0"></td>

                      <td width="19" height="20"><a href="$clickthrough(pin)$" target="_blank"><img src="https://images.jcrew.com/fsi/emails/2016/08/JC_social2.jpg" alt="Pinterest" width="19" height="20" border="0" style="display:block;"></a></td>

                      <td width="10" class="socialMargin"><img style="display:block;" src="http://images.jcrew.com/fsi/emails/2015/10/spacer.gif" width="10" height="1" class="socialMargin" border="0"></td>
                    
                      <td width="24" height="20"><a href="$clickthrough(twitter)$" target="_blank"><img src="https://images.jcrew.com/fsi/emails/2016/08/JC_social3.jpg" alt="Twitter" width="24" height="20" border="0" style="display:block;"></a></td>

                      <td width="10" class="socialMargin"><img style="display:block;" src="http://images.jcrew.com/fsi/emails/2015/10/spacer.gif" width="10" height="1" class="socialMargin" border="0"></td>

                      <td width="20" height="20"><a href="$clickthrough(insta)$" target="_blank"><img src="https://images.jcrew.com/fsi/emails/2016/08/JC_social4.jpg" alt="Instagram" width="20" height="20" border="0" style="display:block;"></a></td>

                      <td width="10" class="socialMargin"><img style="display:block;" src="http://images.jcrew.com/fsi/emails/2015/10/spacer.gif" width="10" height="1" class="socialMargin" border="0"></td>

                      <td width="15" height="20"><a href="$clickthrough(tumblr)$" target="_blank"><img src="https://images.jcrew.com/fsi/emails/2016/08/JC_social5.jpg" alt="Tumblr" width="14" height="20" border="0" style="display:block;"></a></td>

                      <td width="10" class="socialMargin"><img style="display:block;" src="http://images.jcrew.com/fsi/emails/2015/10/spacer.gif" width="10" height="1" class="socialMargin" border="0"></td>

                      <td width="30" height="20"><a href="$clickthrough(googleplus)$" target="_blank"><img src="https://images.jcrew.com/fsi/emails/2016/08/JC_social6.jpg" alt="Google +" width="30" height="20" border="0" style="display:block;"></a></td>

                      <td width="10" class="socialMargin"><img style="display:block;" src="http://images.jcrew.com/fsi/emails/2015/10/spacer.gif" width="10" height="1" class="socialMargin" border="0"></td>

                      <td width="19" height="20"><a href="$clickthrough(spotify)$" target="_blank"><img src="https://images.jcrew.com/fsi/emails/2016/08/JC_social7.jpg" alt="Spotify" width="19" height="20" border="0" style="display:block;"></a></td>

                      <td width="10" class="socialMargin"><img style="display:block;" src="http://images.jcrew.com/fsi/emails/2015/10/spacer.gif" width="10" height="1" class="socialMargin" border="0"></td>

                      <td width="27" height="20"><a href="$clickthrough(youtube)$" target="_blank"><img src="https://images.jcrew.com/fsi/emails/2016/08/JC_social8.jpg" alt="YouTube" width="27" height="20" border="0" style="display:block;"></a></td>

                      <td width="10" class="socialMargin"><img style="display:block;" src="http://images.jcrew.com/fsi/emails/2015/10/spacer.gif" width="10" height="1" class="socialMargin" border="0"></td>

                      <td width="40" height="20"><a href="$clickthrough(helloblog)$" target="_blank"><img src="https://images.jcrew.com/fsi/emails/2016/08/JC_social9.jpg" alt="Blog" width="40" height="20" border="0" style="display:block;"></a></td>

                      <td width="10" class="socialMargin"><img style="display:block;" src="http://images.jcrew.com/fsi/emails/2015/10/spacer.gif" width="10" height="1" class="socialMargin" border="0"></td>

                    </tr>
                  </tbody></table>

              <table width="1" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td height="10"><img style="display:block;" src="http://images.jcrew.com/fsi/emails/2015/10/spacer.gif" width="1" height="10" border="0"></td></tr></tbody></table>

              <!-- END Social media icons -->

<row>
  <columns large="12">
    <spacer class="end-of-email--spacer" size="16"></spacer>
  </columns>
</row>

<row>
    <columns large="12">
	<p class="end-of-email text-center"> <a href="www.jcrew.com">www.jcrew.com</a> </p>
    </columns>
</row>
