<spacer class="logo_spacer" size="10"></spacer>
<row>
  <columns small="12" large="12">
    <center><img src="http://images.jcrew.com/fsi/emails/operational/jcrew_logo.gif" width="134" height="25" border="0" alt="J.CREW" /></center>
  </columns>
</row>
<spacer class="nav_spacer" size="10"></spacer>
<!-- <row class="navigation"> -->
<!-- <columns large="2" small="2" ><p class="nav-item text-center"><a href="">women</a></p></columns> -->
<!-- <columns large="2" small="2" ><p class="nav-item text-center"><a href="">men</a>  </p></columns> -->
<!-- <columns large="2" small="2" ><p class="nav-item text-center"><a href="">girls</a></p></columns> -->
<!-- <columns large="2" small="2" ><p class="nav-item text-center"><a href="">boys</a> </p></columns> -->
<!-- <columns large="2" small="2" ><p class="nav-item text-center"><a href="">sale</a> </p></columns> -->
<!-- </row> -->


<table class="navigation" width="315" cellpadding="0" align="center">
  <tbody><tr>
    <td>
      <div>
        <a href="$clickthrough(women)$" target="_blank"><span>WOMEN</span></a>
      </div>
    </td>


    <!-- Open WIDTH Spacer  -->
    <td width="15"><img style="display:block;" src="http://images.jcrew.com/fsi/emails/2015/10/x_spcr2x2.png" width="15" height="1" border="0"></td>
    <!-- close Spacer -->


    <td align="right" valign="top">
      <div >
        <a href="$clickthrough(men)$" target="_blank"><span>MEN</span></a>
      </div>
    </td>


    <!-- Open WIDTH Spacer  -->
    <td width="15"><img style="display:block;" src="http://images.jcrew.com/fsi/emails/2015/10/x_spcr2x2.png" width="15" height="1" border="0"></td>
    <!-- close Spacer -->


    <td align="right" valign="top">
      <div>
        <a href="$clickthrough(girls)$" target="_blank"><span>GIRLS</span></a>
      </div>
    </td>


    <!-- Open WIDTH Spacer  -->
    <td width="15"><img style="display:block;" src="http://images.jcrew.com/fsi/emails/2015/10/x_spcr2x2.png" width="15" height="1" border="0"></td>
    <!-- close Spacer -->


    <td align="right" valign="top">
      <div>
        <a href="$clickthrough(boys)$" target="_blank" ><span>BOYS</span></a>
      </div>
    </td>


    <!-- Open WIDTH Spacer  -->
    <td width="15"><img style="display:block;" src="http://images.jcrew.com/fsi/emails/2015/10/x_spcr2x2.png" width="15" height="1" border="0"></td>
    <!-- close Spacer -->


    <td align="right" valign="top">
      <div>
        <a href="$clickthrough(sale)$" target="_blank" ><span>SALE</span></a>
      </div>
    </td>
  </tr>
  </tbody></table>
<!-- END NAVIGATION -->

  <spacer class="nav_spacer_bottom" size="10"></spacer>
