<style type="text/css">
  body,
  html, 
  .body {
    background: #f3f3f3 !important;
  }
</style>

<container>

  <spacer class="nav_spacer" size="16"></spacer>

  <row>
    <columns>
      <h1>Thanks for your order.</h1>
      <p>Thanks for shopping with us! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad earum ducimus, non, eveniet neque dolores voluptas architecto sed, voluptatibus aut dolorem odio. Cupiditate a recusandae, illum cum voluptatum modi nostrum.</p>

      <spacer size="16"></spacer>

      <callout class="secondary">
        <row>
          <columns large="6">
            <p>
              <strong>Payment Method</strong><br/>
              Dubloons
            </p>
            <p>
              <strong>Email Address</strong><br/>
              thecapn@pirates.org
            </p>
            <p>
              <strong>Order ID</strong><br/>
              239235983749636
            </p>
          </columns>
          <columns large="6">
            <p>
              <strong>Shipping Method</strong><br/>
              Boat (1&ndash;2 weeks)<br/>
              <strong>Shipping Address</strong><br/>
              Captain Price<br/>
              123 Maple Rd<br/>
              Campbell, CA 95112
            </p>
          </columns>
        </row>
      </callout>

      <h4>Order Details</h4>

      <table>
        <tr><th>Item</th><th>#</th><th>Price</th></tr>
        <tr><td>Ship's Cannon</td><td>2</td><td>$100</td></tr>
        <tr><td>Ship's Cannon</td><td>2</td><td>$100</td></tr>
        <tr><td>Ship's Cannon</td><td>2</td><td>$100</td></tr>
        <tr>
          <td colspan="2"><b>Subtotal:</b></td>
          <td>$600</td>
        </tr>
      </table>

      <hr/>

      <h4>What's Next?</h4>

      <p>Our carrier raven will prepare your order for delivery. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi necessitatibus itaque debitis laudantium doloribus quasi nostrum distinctio suscipit, magni soluta eius animi voluptatem qui velit eligendi quam praesentium provident culpa?</p>
    </columns>
  </row>
  <row class="footer text-center">
    <columns large="3">
      <img src="http://placehold.it/170x30" alt="">
    </columns>
    <columns large="3">
      <p>
        Call us at 800.555.1923<br/>
        Email us at support@discount.boat
      </p>
    </columns>
    <columns large="3">
      <p>
        123 Maple Rd<br/>
        Campbell, CA 95112
      </p>
    </columns>
  </row>
</container>
